@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #3A5A40;
    --secondary-color: #588157;
    --accent1-color: #A3B18A;
    --accent2-color: #DAD7CD;
}
* {
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
}

  /* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

a {
    text-decoration: none;
}
/* Navigation styles */
nav {
    display: flex;
    background-color: var(--primary-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#header {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav img {
    max-width: 64px;
}

/* nav ul {
    border-radius: 3px;
    border: 2px solid var(--accent1-color);
    padding: 0;
} */

nav li {
    display: inline;
    list-style-type: none;
}

nav a {
    border: 2px solid var(--accent1-color);
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 5px;

}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

/* index page */
.row1-index {
    display: inline-grid;
    grid-template-columns: 1fr 20vw 1fr;
    padding: 10px 20px;
    
}

.trips {
    padding: 0 20px;
    background-image: url("../images/rafting_image_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}



.trips h2, ul{
    background-color: rgba(58, 90, 64, 0.5);
}
.trip-samples {
    display: inline-grid;
    grid-template-rows:    repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    grid-column: 3;
}

.trip-samples img {
    max-height: 200px;
    max-width: 200px;
    padding: 10px;
}
.trip-samples img:hover {
    transform: scale(1.5);
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.image-overlay {
    position: relative;
}

.row1-index h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    background-color: rgba(58, 90, 64, 0.5);
    color: var(--accent2-color);
    padding: 5px 10px;
    white-space: nowrap;
    z-index: 1;
}

.btn {
    padding: 16px 32px;
    border: 2px solid var(--accent1-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--accent2-color);
    text-decoration: none;
    margin: 4px 2px;
}

.trips .btn:hover {
    border-radius: 20px;
    background-color: var(--primary-color)
}
/* Trips Page */
    .rows {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 50px;
    }

    .rows p {
        padding-right: 5vw;
        font-size: 18px;
    }

    .rows img:hover {
        transform: scale(1.5);
    }

    table {
        margin: 40px auto;
        border-collapse: collapse;
        border: 1px solid black;
        width: 90%;
        max-width: 50vw;
        text-align: left;
    }

    th {
        padding: 10px;
    }
    td {
        border: 1px solid black;
        padding: 10px;
    }

    td:hover {
        background-color: var(--accent1-color);
        color: white;
    }
/* HERO styles */
.hero {
    padding: 10px 0;
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    background-color: rgba(58, 90, 64, 0.7);
    color: var(--accent2-color);
    padding: 10px 20px;
    text-align: center;
    white-space: nowrap;
}

.hero article {
    margin: 15%;
    border: 1px solid var(--primary-color);
    font-size: 12px;
    overflow: scroll;
    height: 200px;
    position: absolute;
    top: 0;
    background-color: var(--accent2-color);
    color: black;
    opacity: 0.8;
}
.hero article img {
    width: 256px;
    float: right;
}

/* history and adventure sections */
#history {
    padding: 10px 0;
    border: 1px solid var(--primary-color);
    margin: 25px;
}

#history h2 {
    font-size: 32px;
    text-align: center;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.history-content img {
    padding: 0 2%;
}

.history-content p {
    padding: 0 2%;
}

#adventure {
    margin: 25px;
    border: 1px solid var(--primary-color);
    padding: 10px 25px;

}

#adventure img{
    height: 200px;
    max-width: 100%;
}

#adventure-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#adventure-images figure{
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}
#adventure-images figcaption{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* footer */
footer {
    background-color: var(--secondary-color)
}

footer #copyright {
    color: var(--accent2-color);
    padding: 10px;
}
footer .socialmedia{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

footer img {
    max-width: 40px;
    padding: 10px;
}

/* contact page */
.hero {
    background-color: black;
}
iframe {
    width: 90%;
    height: 90%;
    border:0;
}
.hero video {
    display: block;
    height: 50vh;
    overflow: hidden;;
    margin: auto;
}

#intro {
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 5vh;
}
.row1 {
    display: inline-grid;
    grid-template-columns: 1fr 10vw 15vw 1fr;
    padding: 10px 20px;
    
}

.contact_info {
    padding: 15px 0;
}

.employees {
    display: inline-grid;
    grid-template-rows:    repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    grid-column: 4;
}

.employees figure {
    padding: 10px;
    text-align: center;
}

.row2 {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    font-size: 16px;
    justify-content: space-around;
}

form {
    border: 2px solid var(--accent1-color);
    border-radius: 5%;
    padding: 30px;
    box-shadow: 4px 8px var(--accent2-color);
}

form:hover {
    box-shadow: 5px 9px var(--accent1-color);
    border: 2px solid var(--secondary-color);
}
.row2 button {
    border: 2px solid var(--accent1-color);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  button:hover {
    padding: 22px 38px;
    background-color: var(--primary-color)
}

.row2 img{
    border-radius: 5%;
}